/* Estilo de la página para iniciar sesión */

/* Reset básico */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Estilo del fondo y la letra en general*/
body {
  font-family: "trebuchet ms", Arial, Helvetica, sans-serif;
  background-color: #f2f2f271;
  background-image: url("../assets/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Distribución del contenedor cuerpo */
.cuerpo {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center;
  height: 100vh; /* Ocupa toda la pantalla*/
}

/* Estilo del título "Bienvenido a Supplies iLab"*/
h1 {
  color: whitesmoke;
  font-size: clamp(24px, 4vw, 48px);
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Estilo del formulario*/
form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.6);
  width: 350px;
}

/* Estilo del título "Iniciar sesión"*/
h2 {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
  color: #333;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}

/* Estilo de los input*/
input[type="text"], input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilo del botón Iniciar sesión*/
input[type="submit"] {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #af4c6a;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

/* Estilo del botón Iniciar sesión cuando pasa el cursor por encima*/
input[type="submit"]:hover {
  background-color: #982a4d;
}

/* Para responsividad en celulares, PROBAR */
@media screen and (max-width: 600px) {
  form {
    width: 90%;
    padding: 20px;
  }

  h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  input[type="text"], input[type="password"], input[type="submit"] {
    font-size: 1rem;
  }
}
