<!--Ver proveedores-->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de proveedores - Supplies iLab</title>
  <link rel="stylesheet" href="../css/10-ver-proveedor.css">
</head>
<body>
  <h2>🛠️ Lista de proveedores</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre del proveedor</th>
        <th>Email </th>
        <th>Contacto </th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Merck</td>
        <td>merck@gmail.com</td>
        <td>321 123 4569</td>
        <td>
          <a href="editar_proveedor.html?id=1" title="Editar proveedor">✏️</a>
          <a href="eliminar_proveedor.php?id=1"  title="Eliminar proveedor">🗑️</a>
        </td>
      </tr>

      <tr>
        <td>Oriente lab</td>
        <td>orientelab@gmail.com</td>
        <td>321 321 4569</td>
        <td>
          <a href="editar_proveedor.html?id=2" title="Editar proveedor">✏️</a>
          <a href="eliminar_proveedor.php?id=2"  title="Eliminar proveedor">🗑️</a>
        </td>
      </tr>

      <tr>
        <td>Pan reac</td>
        <td>panreac@gmail.com</td>
        <td>321 321 9654</td>
        <td>
          <a href="editar_proveedor.html?id=3" title="Editar proveedor">✏️</a>
          <a href="eliminar_proveedor.php?id=3"  title="Eliminar proveedor">🗑️</a>
        </td>
      </tr>
      <!-- conectar con PHP T-T  -->
    </tbody>
  </table>
</body>
</html>
