<!--Vista usuarios-->
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ver usuarios - Supplies iLab</title>
  <link rel="stylesheet" href="../css/4-ver-usuarios.css">
</head>
<body>
  <h2>👤 Lista de usuarios</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre del usuario</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Dahiana Monsalve García</td>
        <td>dahiana@supplylab.com</td>
        <td>Administrador</td>
        <td>
          <a href="editar_usuario.html?id=1" title="Editar usuario">✏️</a>
          <a href="eliminar_usuario.php?id=1"  title="Eliminar usuario">🗑️</a>
        </td>
      </tr>
      <tr>
        <td>Ronaldo Guao</td>
        <td>ronaldo@supplylab.com</td>
        <td>Analista compra</td>
        <td>
          <a href="editar_usuario.html?id=2" title="Editar usuario">✏️</a>
          <a href="eliminar_usuario.php?id=2"  title="Eliminar usuario">🗑️</a>
        </td>
      </tr>
      <tr>
        <td>Cristina Oquendo</td>
        <td>Cristina@supplylab.com</td>
        <td>Analista insumo</td>
        <td>
          <a href="editar_usuario.html?id=3" title="Editar usuario">✏️</a>
          <a href="eliminar_usuario.php?id=3"  title="Eliminar usuario">🗑️</a>
        </td>
      </tr>
      <!-- Más usuarios dinámicos van aquí conectar con PHP T-T  -->
    </tbody>
  </table>
</body>
</html>
