/* Estilo de crear insumo*/
/*Reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 40px;
  color: #333;
	background-image: url("fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 40px 20px;	
}

h2 {
  width: 500px;
  color: #af4c6a;
  margin: 0 auto;
  text-align: center;
	background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 20px;
  }

.formulario {
  max-width: 500px;
  margin: auto;
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-weight: bold;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 12px;
  background-color: #af4c6a;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #982a4d;
}

input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}

/*Para celular PROBAR*/
@media screen and (max-width: 600px) {
  h2 {
    width: 90%;
    font-size: 1.3rem;
    padding: 10px;
  }

  .formulario {
    width: 90%;
    padding: 20px;
  }

  input, select, button {
    font-size: 1rem;
  }
}
